.waf-ui-box {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: #999 !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}


.kb-badge {


	border-radius: 5px;
	padding: 1px 8px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	color: white;
	opacity: 0.8;
	-moz-box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.4);
	-o-box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.3);

	border: 1px solid rgba(255, 255, 255, 0.2);
	padding-top: 0px;

	line-height: 20px;
	font-size: 16px;

	background: url(../icons/ic_flip_to_back_black_24dp.png) no-repeat,#262626  ;

}

.kb-badge:before {
	content: "\00a0\00a0\00a0\00a0\00a0";
}